In [1]:
#Print number from 1 to 5 using a while loop.
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

In [3]:
#Calculate the sum of number from 1 to 10 using a while loop.
num = 1
sum = 0
while num <= 10:
    sum += num
    num += 1
    print("sum of numbers from 1 to 10:",sum)

sum of numbers from 1 to 10: 1
sum of numbers from 1 to 10: 3
sum of numbers from 1 to 10: 6
sum of numbers from 1 to 10: 10
sum of numbers from 1 to 10: 15
sum of numbers from 1 to 10: 21
sum of numbers from 1 to 10: 28
sum of numbers from 1 to 10: 36
sum of numbers from 1 to 10: 45
sum of numbers from 1 to 10: 55

In [6]:
#Calculate the factorial of a number using a for loop.
num = 7
factorial = 1
for i in range(1, num + 1):
    factorial *= i
    print("factorial of", num, "is", factorial)

factorial of 7 is 1
factorial of 7 is 2
factorial of 7 is 6
factorial of 7 is 24
factorial of 7 is 120
factorial of 7 is 720
factorial of 7 is 5040

In [12]:
# Count the number of vowels in a string using a for loop.
string = "pw skills"
count = 0
vowels = "aeiouAEIOU"
for char in string:
    if char in vowels:
        count += 1
    print("Number of vowels in string:", count)

Number of vowels in string: 0
Number of vowels in string: 0
Number of vowels in string: 0
Number of vowels in string: 0
Number of vowels in string: 0
Number of vowels in string: 1
Number of vowels in string: 1
Number of vowels in string: 1
Number of vowels in string: 1

In [10]:
# Print a pattern using nested loop.
row = 5
for i in range(row):
    for j in range (i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [13]:
#Generate a multiplication table using nested loop.
n = 10
for i in range(1, n + 1):
    for j in range(1, n + 1):
        print(i * j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100